body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  
 
  
  background-color: darkslategrey;
  scroll-snap-type: x mandatory;
  
}
::-webkit-scrollbar {
  display: none; /* Remove scrollbar space */
    /* Optional: just make scrollbar invisible */
}
canvas {
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
}
.text-box {
  font-size: 3em;
  background: -webkit-linear-gradient(rgb(255, 255, 255), #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Lato;
  letter-spacing: 10px;
  word-spacing: 5px;
  text-transform: uppercase;
  color:rgb(238, 238, 238);
  
}

@media only screen and (max-width: 600px) {
  .text-box {
    font-size: 1.5em;
    text-align: center;
   
    letter-spacing: 10px;
    word-spacing: 5px;
    text-transform: uppercase;
    color:rgb(238, 238, 238);
    
  }


}
.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: row;
}
.button {
  font-family: 'Baloo 2', cursive;
 
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  padding: 15px;
  margin-left:20px;
  margin-right:20px;
  word-spacing: normal;
  letter-spacing: 5px;
  border: 1px solid white;
  background: -webkit-linear-gradient(rgb(255, 255, 255), #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  cursor: pointer;
  text-decoration: none;
}



section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  scroll-snap-type: x mandatory;
  
 

  
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}






.parent {
 
  scroll-snap-type: y proximity;
  flex-basis: 50%;
 

}


.scroll-area{
  
    	
    
    
    
    	text-align: center;
    	scroll-snap-align: start;
    	display: flex;
    	flex-flow: column;
    	justify-content: center;
  }

.scrol-area {
  scroll-snap-align: start;
}




















